
.images img{
    width: 100%;
    height: 350px;
    border-radius: .2em;
} 
.Details{
    align-items: center;
}
p{
    font-weight: bold;
    justify-content: center;

}
.grid-container{
    margin: 1em;
    /* margin: 20px; */
    display: grid;
    padding: 1em;
    grid-gap:2em;
    
    /* grid-template-columns:repeat(4, 235px);
    grid-auto-rows: auto;
     /* grid-column-gap: 20px;
    grid-row-gap: 20px; */
    
     
    /* justify-items: center; */
    /* justify-content: center;
    grid-auto-columns: minmax(200px, auto); */ 
}
.card{
   
    border: 1px solid gray;
    border-radius: .2em;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
}

@media(min-width:150px){
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media(min-width:750px){
    .grid-container{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(min-width:950px){
    .grid-container{
        grid-template-columns: repeat(4, 1fr);
    }
}
